:root {
  --clr-primary-blue: #1877f2;
  --clr-primary-green: #42b72a;
  --clr-background-grey: #f0f2f5;
}

.container-change {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 120;
  position: fixed;
  top: 0;
  /* display: none; */
}

.container-change .change .head {
  display: flex;
  justify-content: space-between;
}

.container-change .change .head a i {
  color: black;
}

.container-change .change .reg {
  display: block;
  width: 100%;
  padding: 3px 0;
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: var(--clr-primary-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.container-change .change .reg {
  background-color: var(--clr-primary-green);
}

.container-change.active {
  display: block;
}

.container-change .change {
  position: inherit;
  top: 50%;
  left: 50%;
  padding: 20px 25px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  width: 40%;
}

.container-change .change .title {
  font-size: 35px;
  color: var(--clr-primary-blue);
}

.container-change .change hr {
  margin-bottom: 1rem;
}

.container-change .change .input input {
  width: 100%;
  outline-color: var(--clr-primary-blue);
  border-radius: 5px;
  border: 0.2px solid gray;
  padding: 10px 10px;
  margin-bottom: 1.4rem;
}

.container-change .change .input-double.input {
  display: flex;
  gap: 1rem;
}

.container-change .change .input-double.input div {
  width: 100%;
}

.error-profile {
  position: absolute;
  color: red;
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}

.error-profile.first {
  top: 79px;
}

.error-profile.second {
  top: 145px;
}
