.main .bottom-part .user-profile {
  margin-top: 1rem;
  background-color: var(--clr-background-grey);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  width: 25%;
  height: 80vh;
  overflow: hidden;
}

.main .bottom-part .user-profile .user-profile-img {
  width: 100%;
  height: 60%;
  margin-bottom: 0.5rem;
  object-fit: cover;
  object-position: center;
}

.main .bottom-part .user-profile .user-info {
  padding: 1rem;
}

.main .bottom-part .user-profile .user-info .user-info-field {
  margin-bottom: 0.5rem;
  color: grey;
}

.main .bottom-part .user-profile .user-info .user-info-field span {
  margin-right: 5px;
  font-weight: bold;
}

.main .bottom-part .user-profile .user-profile-btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0.5rem;
  background-color: var(--clr-primary-blue);
  color: var(--clr-background-grey);
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.no-posts {
  color: var(--clr-primary-blue);
  width: 30%;
  margin: 1rem auto;
}
